@font-face {
  font-family: Baloo;
  src: url(../fonts/Baloo-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
.pre-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: url(../images/loader/loader.gif) center no-repeat #fff;
}

nav {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;
}
nav .container .logo {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 28px;
  color: #2c3e50;
}
nav .container .logo .sub {
  color: #3498db;
}
nav .container .logo, nav .container .sub {
  font-family: Baloo;
}

header {
  margin-top: 8vh;
}

header > .container {
  margin: 30px auto;
  flex-flow: row wrap;
  justify-content: space-around;
}

header > .container > div[class] {
  width: 750px;
}

.name {
  font-family: Baloo;
  font-size: 42px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1em;
  color: #2980b9;
}

.intro {
  flex: 1;
}
.intro .subtitle {
  text-transform: uppercase;
  color: #3498db;
  font-size: 18px;
  letter-spacing: 2px;
}
.intro .subtitle::after {
  margin: 30px 0;
  content: "";
  width: 50px;
  border-bottom: 1px solid #ccc;
  display: block;
}
.intro .intro-text {
  font-size: 16px;
  line-height: 26px;
}

.profile-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.profile-img .img-frame {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img .img-frame .img-responsive {
  display: block;
  height: 300px;
  width: auto;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #eee;
  display: block;
  padding: 50px;
}
footer .content {
  text-align: center;
}
footer .content .name {
  font-size: 26px;
  color: #2c3e50;
}
footer .content .name .sub {
  font-family: Baloo;
  color: #2980b9;
}
footer .content .name::after {
  content: "";
  border-bottom: 3px solid black;
  width: 30px;
  margin: 20px auto;
  display: block;
}
footer .social-links > * {
  display: block;
}
footer .social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .social-links .list {
  display: flex;
}
footer .social-links .list .links {
  height: 50px;
  font-size: 1.5em;
  color: #2c3e50;
}
footer .social-links .list .links span {
  margin-top: 2px;
  font-size: 10px;
}
footer .social-links .list .links + .links {
  margin-left: 30px;
}
footer .social-links .list .links > * {
  transition: 0.5s ease-in-out;
  display: block;
}

.links:hover > * {
  color: #2980b9;
}

@media only screen and (max-width: 550px) {
  nav > .container {
    justify-content: center;
  }
  nav > .container .logo {
    font-size: 33px;
  }

  header > .container {
    flex-wrap: wrap-reverse;
  }

  .intro {
    margin-top: 2em;
    text-align: center;
  }
  .intro .subtitle::after {
    display: none;
  }

  .profile-img {
    justify-content: center;
  }

  .intro-text {
    display: none;
  }
}
@media only screen and (width: 414px) {
  header > * {
    width: 400px;
  }
}
* {
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  color: #2c3e50;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

hr {
  border-top: 1px solid #eee;
}

.project-div, .container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1200px;
}

.container {
  display: flex;
}

.project-div hr {
  margin-bottom: 30px;
}
.project-div .no-content {
  height: 50vh;
  display: flex;
}
.project-div .no-content .message {
  display: flex;
  margin: auto;
  font-size: 24px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-div .no-content .message img {
  margin-top: 1em;
  height: 100px;
  width: 100px;
}

/*# sourceMappingURL=style.css.map */
